*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.gradle/
.idea/
.git/
.DS_Store
gradlew.bat
import-summary.txt
local.properties
*.iml
build/
captures/
config.xml

