<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.umeng.soexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:supportsRtl="true">

        <!--demo启动页-->
        <activity
            android:name=".push.SplashTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Umeng_Push_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--demo界面   start-->
        <activity
            android:name="com.umeng.soexample.analytics.UFragmentStack"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.soexample.analytics.UFragmentTabs"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <activity android:name=".HomeActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".log.LogActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".analytics.UappActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".analytics.UGameActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".analytics.UDplusActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".push.UpushActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.UshareActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.SharePlatformActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.ShareDetailActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.ShareBoardActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.AuthActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.InfoActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.InfoDetailActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name=".share.SettingActivity"
                  android:theme="@style/myTransparent">
        </activity>
        <!--demo界面  end-->
        <!--share  start-->
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:excludeFromRecents="true"
            />
        <!-- wechat callback-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->
        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:exported="false"
                  android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- vk -->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />
        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--1104087112943046-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1266254913438718"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-oz8v5apet3arcdy" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- push start -->
        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name=".push.MyNotificationService" />
        <service android:name=".push.UmengNotificationService" />
        <receiver android:name=".push.NotificationBroadcast" />
        <activity
            android:name=".push.MipushTestActivity"
            android:launchMode="singleTask"
            android:exported="true"/>

    </application>

</manifest>