<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umeng.soexample">

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.donews.renren.android" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.youdao.note" />
        <package android:name="im.yixin" />
        <package android:name="com.yinxiang" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.linkedin.android" />
    </queries>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"> <!-- targetSDKVersion 28 开启http请求，避免net::ERR_CLEARTEXT_NOT_PERMITTED错误-->

        <!--明确引用org.apache.http.legacy库，避免QQ官方open sdk在Android 9上报错 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--demo启动页-->
        <activity
            android:name=".push.SplashTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Umeng_Push_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--demo界面   start-->
        <activity
            android:name="com.umeng.soexample.analytics.UFragmentStack"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="com.umeng.soexample.analytics.UFragmentTabs"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <activity
            android:name=".HomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".log.LogActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".analytics.UappActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>


        <activity
            android:name=".push.UpushActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.UshareActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.SharePlatformActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.ShareDetailActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.ShareBoardActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.AuthActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.InfoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.InfoDetailActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name=".share.SettingActivity"
            android:theme="@style/myTransparent"></activity>
        <activity
            android:name=".analytics.Process1Activity"
            android:process=":process_activity_1" />

        <service
            android:name=".analytics.Process1Service"
            android:process=":process_service_1" />
        <!--demo界面  end-->
        <!--share  start-->
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- wechat callback-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->
        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- vk -->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101830139" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />
        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--1104087112943046-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2094171727560943"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--twitter分享回调结果 -->
        <receiver
            android:name=".twitterapi.TwitterShareReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.TWEET_COMPOSE_CANCEL" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-oz8v5apet3arcdy" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- push start -->
        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name=".push.MyNotificationService" />
        <service
            android:name=".push.UmengNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".push.NotificationBroadcast" />
        <activity
            android:name=".push.MipushTestActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${applicationId}"
                    android:path="/thirdpush"
                    android:scheme="agoo" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>
